<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jik.RememberTheYubikey</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/yubikey-monitor.sh</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.jik.RememberTheYubikey.Event</key>
			<dict>
				<key>idVendor</key>
				<integer>4176</integer>
				<key>idProduct</key>
				<string>*</string>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
